In [6]:
import os
from random import shuffle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import tidalUtl.InterfaceSQL as isq
import tidalUtl.PrpUtl as prp
import tidalUtl.EdaUtl as eda
import tidalUtl.VslUtl as vsl

# loading some basic packages for testing
from sklearn.linear_model import LogisticRegression
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
#import xgboost as xgb

In [7]:
# config
INPUT = "/home/tidal/ML_Data/JaneStreet/jane-street-market-prediction"
OUTPUT = "/home/tidal/ML_Data/JaneStreet/output"
#INPUT = "/Users/hfuis/ML_Data/aneStreet/jane-street-market-prediction"
#OUTPUT = "/Users/hfuis/ML_Data/aneStreet/jane-street-market-prediction"

In [17]:
submission = pd.read_csv(OUTPUT + '/submittion/submission.csv')
success_sub = pd.read_csv(OUTPUT + '/submittion/success_submission.csv')

In [10]:
submission

       ts_id  action
0          0       0
1          1       1
2          2       0
3          3       0
4          4       1
...      ...     ...
15214  15214       0
15215  15215       0
15216  15216       0
15217  15217       0
15218  15218       0

[15219 rows x 2 columns]

In [16]:
submission.action.value_counts()

1    11750
0     3469
Name: action, dtype: int64

In [18]:
success_sub

       ts_id  action
0          0       0
1          1       0
2          2       0
3          3       0
4          4       0
...      ...     ...
15214  15214       0
15215  15215       0
15216  15216       0
15217  15217       0
15218  15218       0

[15219 rows x 2 columns]

In [19]:
success_sub.action.value_counts()

0    10992
1     4227
Name: action, dtype: int64